<div class="container ">

    <div class="row">

        <div class="col">
            <h1 class="mt-5 text-white" id="">Taste & Best Cateering Service</h1>
            <div class="text-white"><mat-icon> location_on</mat-icon>Address</div>
            <div class="text-white"> Mada Center 8th floor, 379 Hudson St,</div>
            <div class="text-white">Chennai-600018</div><br>
        </div>
        <div class="col mt-5">
            <div  class="text-white"><mat-icon>settings_phone</mat-icon> Lets Talk</div>
            <div class="text-success">044-3245-896</div><br>
            <div class="text-white"><mat-icon> unsubscribe</mat-icon>General Support</div>
            <div class="text-success">tandbcateringservice&copy;gmail.com</div>

        </div>
    </div>
</div>

