<div class="container">

    <h1 class="text-center">Birthday Party Catering</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/bir.jpg" width="400" height="300">
        </div>

        <div class="col">
            
            <div><q >Made with Love, Served with Joy</q></div>
            <div><b>Birthday party is filled with full of Happiness & Joy.

            </b></div>
            <div><b>This is a good opportunity for all relatives and friends to join.
           </b> </div>
           <div><b>We provide Quality food and drinks.Always keep touch with us .
        </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>
