<div class="container">
    <h1>Morning Menu</h1>
 
    <div class="row mt-4">
        <h2> Sweets</h2>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/kesari.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Kesari</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/karupatti.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Karupatti</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/rawaladdu.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2 " id="sidehead">Rawaladdu</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>
            </div>
        </div>
    </div>

        <div class="row mt-4">
            <h2>Main Course</h2>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/rawaidly.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead" id="sidehead">Rawaidly</div>
                    <div class="row mt-2">
                        <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                        <div class="col"><button mat-raised-button color="accent">View</button></div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/masaldosa.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">MasalDosa</div>
                    <div class="row  mt-2">
                        <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                        <div class="col"><button mat-raised-button color="accent">View</button></div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/pongal.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">Pongal</div>
                    <div class="row  mt-2">
                        <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                        <div class="col"><button mat-raised-button color="accent">View</button></div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="card card-body border-2 w-90 h-90">
                        <img src="../../assets/images/poori.jpg" class="ms-5" width="200" height="200">
                        <div class="mt-2 " id="sidehead">Poori</div>
                        <div class="row  mt-2">
                            <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                            <div class="col"><button mat-raised-button color="accent">View</button></div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-body border-2 w-90 h-90">
                        <img src="../../assets/images/vadai.jpg" class="ms-5" width="200" height="200">
                        <div class="mt-2 " id="sidehead">Vadai</div>
                        <div class="row  mt-2">
                            <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                            <div class="col"><button mat-raised-button color="accent">View</button></div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>



        <div class="row mt-4">
            <h2>Hot Drinks</h2>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/coffee.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">Coffee</div>
                    <div class="row  mt-2">
                        <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                        <div class="col"><button mat-raised-button color="accent">View</button></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/tea.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">Tea</div>
                    <div class="row  mt-2">
                        <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                        <div class="col"><button mat-raised-button color="accent">View</button></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>




