h1{

    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    background-color:burlywood;
    padding:60px;
    width:100%;
        }

    
         q{
             font-size: large;
             color:green;
             font-weight: 600;
             font-family: 'Inter', sans-serif;
         }