<div class="container">

    <h1 class="text-center">Engagement Catering</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/eng.jpg" width="400px" height="300px;">
        </div>

        <div class="col">
            
            <div><q >We are always here to serve you</q></div>
            <div><b>Taste & Best Catering world is a one of the best Catering service.

            </b></div>
            <div><b>Betrothal or Engagement Event is a beginning function of a grand wedding
                marriage.
           </b> </div>
           <div><b>We provide Excellence quality food.
       </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>