 a{



text-decoration: none;

transition: color 0.3s ease;



}

// button:active{

//     background-color: orange;
// }
a:hover{

    color:orangered;
}

#head{

    font-family: 'Dancing Script', cursive;
    font-size: larger;

}