.bodybg{

    background-color:honeydew;
}

#cardbg1{

    background-color:honeydew;
    border-style:dotted;
    
}

#cardbg2{

    background-color:honeydew;
}
#head1{

    background-image: url(../../assets/images/aboutus.jgp.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    width:100%;

}
.container{
    width:100rem;
    margin-left:-0.7rem;
}