<div class="container">

    <body class="bodybg">
        <h1 class="text-center text-white" id="head1">About Us</h1>
        <div class="row mt-5">
            <div class="col">
                <div class="card card-body border-0 w-60 h-40 ms-5" id="cardbg1">
                    <h1>Taste & Best Cateering Service</h1>
                    <pre>Taste & Best Cateering Service is a leading and best catering 
expert in chennai. As a catering service provider, we have many
years of experience; we make best arrangementt
ease our customers and their guests. chennai Catering 
Service provides all kind of cateringservices for events at a 
lower cost with the assurance of best quality than other 
caterers andcatering services.

</pre>
                </div>
            </div>
            <div class="col ">
                <div class="card card-body border-0 w-10 h-40 " id="cardbg2">
                    <img src="../../assets/images/gulob.jpg " width="80%" height="10%" style="border-radius: 20px; ">
                </div>
            </div>
        </div>
        <pre>
                Chennai Catering Service is a Caterers; Specialized in Catering Services includes Engagement, Marriage &
                         Wedding Catering Services, all kind of Party and Corporate Events in chennai.
    </pre>
    </body>

</div>