<div class="container">
    <h1>Lunch Menu</h1>
 
    <div class="row mt-4">
        <h2> Refreshment</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/sarbath.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Sarbath</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>



    <div class="row mt-4">
        <h2> Sweets</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/kajukatli.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Kajukatli</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/payasam.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Payasam</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>




    <div class="row mt-4">
        <h2> Starter</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/carrot.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Carrot</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/potato.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Potato</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>









    <div class="row mt-4">
        <h2> Main Course</h2>
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/mutton.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Mutton Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/vegpulav.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Vegpulav</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/raita.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Raitha</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <!-- <div class="col"></div> -->
    </div>








    <div class="row mt-4">
       
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/whiterise.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Whiterise</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/sambar.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Sambar</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/vathakuzhambu.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Vathakuzhambu</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <!-- <div class="col"></div> -->
    </div>






    <div class="row mt-4">
      
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/more.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">More</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/rasam.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Rasam</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/parupuvadai.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Parupuvadai</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <!-- <div class="col"></div> -->
    </div>




    <div class="row mt-4">
        
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/lemon.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Lemon Pickle</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>








</div>
       
       