<div class="container">

    <h1 class="text-center">Wedding Caterers</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/marriage.jpg">
        </div>

        <div class="col">
            
            <div><q >Function is combination of food and friends</q></div>
            <div><b>Taste & Best Catering world is a one of the best Catering service.
            </b></div>
            <div><b>We organize delicious and tempting food for all wedding ceremonies;from wedding to receptions
           </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>