<div class="container">
    <pre id="head">Best Catering Service For Events,
        
    Functions & Parties Chennai</pre>
    <div class="row mt-4">
        <div class="col">
            <div class="card card-body border-2 w-90 h-90 ">
                <img src="../../assets/images/wed.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Wedding Caterers</div>
                <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                
                <div class="col"><a routerLink="/wedding"><button mat-raised-button color="accent">View</button></a></div>
                </div>

            </div>
        </div>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/engage.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2" id="sidehead">Engagement</div>
                <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                  <div class="col"><a routerLink="/engagement"><button mat-raised-button color="accent">View</button></a></div>
                </div>
    
                </div>
            </div>
                <div class="col">
                    <div class="card card-body border-2 w-90 h-90">
                        <img src="../../assets/images/pub.jpg"  class="ms-5" width="200" height="200">
                        <div class="mt-2 " id="sidehead">Puberty Function</div>
                        <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                        <div class="col"><a routerLink="/puberty"><button mat-raised-button color="accent">View</button></a></div>
                        </div>
            
        
                    </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/valai.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2 " id="sidehead" id="sidehead">Baby Shower</div>
                <div class="row mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                <div class="col"><a routerLink="/babyshower"><button mat-raised-button color="accent">View</button></a></div>
                </div>

            </div>
        </div>
            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/birth.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">Birthday Party</div>
                <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                <div class="col"><a routerLink="/birthday"><button mat-raised-button color="accent">View</button></a></div>
                </div>
    
                </div>
            </div>
                <div class="col">
                    <div class="card card-body border-2 w-90 h-90">
                        <img src="../../assets/images/housewarm.jpg"  class="ms-5" width="200" height="200">
                        <div class="mt-2 " id="sidehead">House Warming</div>
                        <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                        <div class="col"><a routerLink="/housewarming"><button mat-raised-button color="accent">View</button></a></div>
                        </div>
                    </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/corpo.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2 " id="sidehead">Corporate Events</div>
                <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                <div class="col"><a routerLink="/corporate"><button mat-raised-button color="accent">View</button></a></div>
                </div>
            </div>
        </div>

            <div class="col">
                <div class="card card-body border-2 w-90 h-90">
                    <img src="../../assets/images/indu.jpg" class="ms-5" width="200" height="200">
                    <div class="mt-2 " id="sidehead">Industrial Catering</div>
                <div class="row  mt-2"><div class="col"><a routerLink="/order"><button mat-raised-button color="primary" class="ms-5">Book</button></a></div>
                <div class="col"><a routerLink="/industrial"><button mat-raised-button color="accent">View</button></a></div>
                </div>
                </div>
            </div> 
            <div class="col"></div>
    </div>        
</div>
