#form{

    margin-left:40%;
}

.div{

    font-family:'Inter', sans-serif;
    font-weight:400;
    font-size: large;
    color:blue;
}
h1{
    margin-top: 3%;
    font-family:'Inter', sans-serif;
    font-size: larger;
    font-weight:1000;
}

.container{
    width:100rem;
    margin-left:-0.7rem;
    
}

body{

    background-color:darkgrey;
}