<div class="container">

    <h1>Dinner Menu</h1>

    <div class="row mt-4">
        <h2> Refreshment</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/mango.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Mango</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/rosemilk.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Rosemilk</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>




    <div class="row mt-4">
        <h2> Salad</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/fruitsald.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">FruitSalad</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>





    <div class="row mt-4">
        <h2> Sweets</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/carrothalwa.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Carrothalwa</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/jangiri.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Jangiri</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>





    <div class="row mt-4">
        <h2> Starters</h2>
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/gopi.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Gopi Pakora</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>





    <div class="row mt-4">
        <h2> Main Course</h2>
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/nan.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Naan</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/panner.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Paneer Butter Masala</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/vegetablerise.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Vegetable Rice</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
    
    </div>





    <div class="row mt-4">
        
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/raita.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Pomegranate raita</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/idiyappam.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Idiyappam</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/chenna.jpg'.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Chana Masala</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        
    </div>





    <div class="row mt-4">
        
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/podiidly.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Podi Idly</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/uttapam.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Uttapam</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/kuruma.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Vegetable kuruma</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        
    </div>



    <div class="row mt-4">
        
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/palpayasam.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Paal Payasam</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>






    <div class="row mt-4">

        <h2> Ice Creams</h2>
        
        <div class="col"></div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/icecreams.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">3 More Variety Of Ice Cream</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>






</div>
