<div class="container">

    <h1> Non Veg Menu</h1>




    <div class="row mt-4">
        <h2>Briyani Varieties </h2>
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/hydbriyani.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Hyderabadi Dhum Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/muttonbriyani.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Mutton Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/chickenbriyani.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Chicken Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
    
    </div>









    <div class="row mt-4">
        <h2>Briyani Varieties </h2>
        <div class="col">

            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/prawn.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Prawn Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>

        </div>
        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/fishbriyani.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Fish Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card card-body border-2 w-90 h-90">
                <img src="../../assets/images/chicken65.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Chicken 65 Briyani</div>
                <div class="row  mt-2">
                    <div class="col"><button mat-raised-button color="primary" class="ms-5">Book</button></div>
                    <div class="col"><button mat-raised-button color="accent">View</button></div>
                </div>

            </div>
        </div>
    
    </div>






</div>