<div class="container">

    <h1 class="text-center">Baby Shower Catering</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/valaikaappu.jpg" width="350px">
        </div>

        <div class="col">
            
            <div><q >A taste you'll remember.
            </q></div>
            <div><b>Valaikappu Function or Baby Shower is a grand ceremony celebrated in South India.
            </b></div>
            <div><b>It is a typical celebration held by the Hindu, Muslim and Christian women in Tamil Nadu .
           </b> </div>
           <div><b>We provide Quality food and drinks. Your Happiness is our Successful.


        </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>
