<div class="container">

    <h1 class="text-center">Coporate Event Catering</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/cor.jpg" width="400" height="300">
        </div>

        <div class="col">
            
            <div><q >Fresh and Flavorful Every Bite!</q></div>
            <div><b>When you discuss your office catering options with one of our experienced team members,

            </b></div>
            <div><b>we’ll work with you to help you decide the right package for your preferences and requirements.

           </b> </div>

           <div><b>This is a good opportunity for all relatives and friends to join.
            We provide Quality food and drinks.Always keep touch with us .
           </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>
