<div class="container">

    <h1 class="text-center">Corporate / Industrial Events Catering Service</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/indus.jpg" width="400" height="300">
        </div>

        <div class="col">
            
            <div><q >Fresh and Flavorful Every Bite</q></div>
            <div><b>If your company relies on restaurant deliveries to keep customers pleased,
                we can supply the high-quality food, delivery, and catering services it need to succeed
                
            </b></div>
            <div><b>only the highest-quality meals and offering consistent service to you and your company
                 on a regular basis
           </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>
