<div class="container">

    <pre class="headbg">                                              
        
        
                                                                Baked with love 
                                                                                                
                                                                                        
                                                                        Delish Cakes</pre>


    <div class="row mt-4">
        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/butterscaramel.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Butterscaramel</div>
                <div class="row  mt-2">
                    <div class="col">
                      <a routerLink="/cakebook"> <button mat-raised-button color="primary" class="ms-5">Book</button></a>
                    </div>
                    <div class="col">
                      <a routerLink="/butterscaramle"> <button mat-raised-button color="warn" >View</button></a>
                    </div>
                </div>

            </div>
        </div>


        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/redvelvet.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Redvelvet</div>
                <div class="row  mt-2">
                    <div class="col">
                 <a routerLink="/cakebook"> <button mat-raised-button color="primary" class="ms-5">Book</button></a>
                </div>
                <div class="col">
                    <a routerLink="/redvelvet"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>

                </div>
                    
                </div>

            </div>
        </div>


        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/chocolate.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Chocolate</div>
                <div class="row  mt-2">
                    <div class="col"> <a routerLink="/cakebook">
                        <button mat-raised-button color="primary" class="ms-5">Book</button></a>
                    </div>
                    <div class="col">
                        <a routerLink="/chocolate"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>
    
                    </div>
                    
                </div>

            </div>
        </div>
    </div>









    <div class="row mt-3">
        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/anniversary.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Anniversary Cake</div>
                <div class="row  mt-2">
                    <div class="col"> 
                        <a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                    </div>
                    <div class="col">
                        <a routerLink="/anniversary"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>
    
                    </div>
                    
                </div>

            </div>
        </div>


        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/blackforest.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Blackforest</div>
                <div class="row  mt-2">
                    <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                    </div>
                    <div class="col">
                        <a routerLink="/blackforest"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>
    
                    </div>
                    
                   
                </div>

            </div>
        </div>


        <div class="col">
            <div class="card card-body border-2 w-45 h-40">
                <img src="../../../assets/images/fruitsnuts.jpg" class="ms-5" width="200" height="200">
                <div class="mt-2" id="sidehead">Fruitsnuts Cake</div>
                <div class="row  mt-2">
                    <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                    </div>

                    <div class="col">
                        <a routerLink="/fruitsnut"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>
    
                    </div>
                    
                    
                </div>

            </div>
        </div>
    </div>



<h1>Designer Cakes</h1>



<div class="row mt-3">
    <div class="col">
        <div class="card card-body border-2 w-45 h-40">
            <img src="../../../assets/images/barbie.jpg" class="ms-5" width="200" height="200">
            <div class="mt-2" id="sidehead">Barbie Cakes</div>
            <div class="row  mt-2">
                <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                </div>
                <div class="col">
                    <a routerLink="/barbie"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>

                </div>
                
            </div>

        </div>
    </div>


    <div class="col">
        <div class="card card-body border-2 w-45 h-40">
            <img src="../../../assets/images/cartoon.jpg" class="ms-5" width="200" height="200">
            <div class="mt-2" id="sidehead">Cartoon Cakes</div>
            <div class="row  mt-2">
                <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary"class="ms-5">Book</button></a>
                </div>
                <div class="col">
                    <a routerLink="/cartoon"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>

                </div>
                
               
            </div>

        </div>
    </div>


    <div class="col">
        <div class="card card-body border-2 w-45 h-40">
            <img src="../../../assets/images/pinata.jpg" class="ms-5" width="200" height="200">
            <div class="mt-2" id="sidehead">Pintana Cakes</div>
            <div class="row  mt-2">
                <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                </div>
                <div class="col">
                    <a routerLink="/pintana"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>

                </div>
                
               
            </div>

        </div>
    </div>
</div>



<div class="row mt-3">
    <div class="col"></div>
    <div class="col">
        <div class="card card-body border-2 w-45 h-40">
            <img src="../../../assets/images/number.jpg" class="ms-5" width="200" height="200">
            <div class="mt-2" id="sidehead">Number Cakes</div>
            <div class="row  mt-2">
                <div class="col"><a routerLink="/cakebook"><button mat-raised-button color="primary" class="ms-5">Book</button></a>
                </div>
                <div class="col">
                    <a routerLink="/number"> <button mat-raised-button color="warn" class="buttonmove">View</button></a>

                </div>
                
                
            </div>

        </div>
    </div>
    <div class="col"></div>
</div>






</div>