.headbg{

    background-image: url(../../../assets/images/cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:25rem;
    font-family:'Inter', sans-serif;
    color:darkmagenta;
    font-size:xx-large;
    font-weight:bolder;
    
    

}

#sidehead{
    font-family:'Inter', sans-serif;
    font-size: large;
    font-weight: 800;
    text-align: center;
}

h1{

    font-family:'Inter', sans-serif;
    font-size:x-large;
    font-weight:bolder;
    color:darkmagenta;
    text-align: center;

}

// .buttonmove{




// }

.container{
    width:100rem;
    margin-left:-0.7rem;
}