<div class="container">

    <div class="row mt-3">
        <div class="col">
            <img src="../../../assets/images/cartoon.jpg">


        </div>


        <div class="col">
            <h1>Cartoon Cake</h1>
            <hr class="border-bottom border-1 border-warning">
            <div><b> {{msg}}</b></div>
            <hr class="border-bottom border-1 border-warning">
            <div>Select weight</div>
            <div><button class="btn btn-info" (click)="onekg()">1 Kg</button>
                <button class="btn btn-info ms-2"  (click)="oneandhalfkg()">1.5 Kg</button>
                <button class="btn btn-info ms-2" (click)="twokg()">2 Kg</button>
                <button class="btn btn-info ms-2"  (click)="threekg()">3 Kg</button>
                <button class="btn btn-info ms-2"  (click)="fourkg()">4 Kg</button>
                <button class="btn btn-info ms-2"  (click)="fivekg()">5 Kg</button>
                <button class="btn btn-info ms-1" (click)="sixkg()">6 Kg</button>
            </div><br>
            <div>Eggless </div><br>

            <button class="btn btn-warning " (click)="eggless()">Make Eggless + ₹300 </button><br><br>
            <!-- <div>Messge on cake</div><br>
            <div><input type="text" name="msg" placeholder="Happy Birthday My dear" class="form-control"></div><br>
            <textarea class="form-control" placeholder="Enter your address"></textarea><br>
            <input type="number" class="form-control" placeholder="Phonenumber"><br>
            <button mat-raised-button color="warn">Book</button> -->






        </div>


    </div>


</div>

