<div class="container">

  <div class="row">

    <div class="col mt-2">
      
        <div id="div1">Unforgettable Tastes</div><br>
        <div id="div1">For Unforgettable Moments</div><br>
        <div id="div2">Expert Chef and Quality food service in Chennai.We
          Provide wide range of catering services for all events
          and functions.
        </div><br>
        <div> <a routerLink="/order"><button mat-raised-button color="primary">Book Now</button></a>
        </div>


    </div>
    
    <div class="col ms-5">
      <video   width="320" height="240" class="ms-5" autoplay muted controls >
        <source src="../../assets/videos/home.mp4" type="video/mp4"  >
      </video>
    </div>
  </div>
  <br>
</div>