.container{

    background-color: black;
    width:100%;
  
}



#div1{

    font-family: cursive;
    font-size: xx-large;
    color:white;

}

#div2{

    color:white;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: 300;


}