<div class="container">

    <h1 class="text-center">House Warming Catering</h1>

    <div class="row">
        <div class="col">
            <img src="../../../assets/images/house.jpg">
        </div>

        <div class="col">
            
            <div><q >Savor the Goodness</q></div>
            <div><b>As we know house warming parties are spent with you closed one or with dear friends ,
                 so keeping the nostalgic tone we have been accepting a challenging prospect from wide range
                  of customers and to our surprise we have passed the challenge with flying colours.
                .
            </b></div>
            <div><b>This is a good opportunity for all relatives and friends to join.
                We provide Quality food and drinks.Always keep touch with us .
           </b> </div>
        </div>

        <div class="col"></div>


    </div>


</div>
